:root {
    --orange: #FF8C42;
    --beige-font: #fff4d8;
    --beige: #F2E8CF;
    --purple: #5D4157;
    --purple-hover: #5d4157cf;
}

/* Header + Nav */
header {
    height: 10vh;
    background-color: var(--orange);
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    width: 85%;
    margin: auto;
    font-size: 1.3rem;
}

.nav-links a {
    text-decoration: none;
    margin: 0 20px;
}

nav p,
.nav-links a {
    color: var(--beige-font);
    font-weight: bolder;
}

nav input[type="search"] {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.448);
    padding: 4px 8px;
    margin-right: 20px;
}

.nav-search-btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--purple);
    color: var(--beige);
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.nav-search-btn:hover {
    background-color: var(--purple-hover);
    transition: 0.3s;
}

/* Footer */
footer {
    height: 10vh;
    background-color: var(--purple);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 100%;
    align-items: center;
    margin: auto;
}

.footer-container p,
.footer-links a {
    color: var(--beige-font);
}

.footer-links a {
    text-decoration: none;
    margin: 0 5px;
}

/* Media Queries*/

@media only screen and (max-width: 900px) {

    nav {
        /* width: 90%; */
        font-size: 1.1rem;
    }

    .footer-container {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        font-size: 0.9rem;
    }

    nav input[type="search"] {
        padding: 2px 4px;
    }

    .nav-search-btn {
        padding: 4px 8px;
        margin-right: 10px
    }

    .nav-links a {
        margin: 0 10px;
    }

    .footer-container {
        font-size: 0.8rem;
    }
}


/* Home Page - Hero section */

.hero-section {
    height: 80vh;
}

@media only screen and (max-width: 700px) {
    nav {
        font-size: 0.7rem;
    }

    .nav-search-btn {
        padding: 4px 8px;
        font-size: 0.7rem;
        margin-right: 10px
    }

    .nav-links a {
        margin: 0 10px;
    }
}