:root {
    --orange: #FF8C42;
    --beige-font: #fff4d8;
    --beige: #F2E8CF;
    --purple: #5D4157;
    --purple-border: #5d41574d;
    --purple-hover: #5d4157cf;
}

/* Header + Nav */
header {
    height: 10vh;
    background-color: var(--orange);
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    width: 85%;
    margin: auto;
    font-size: 1.3rem;
}

.nav-title a {
    text-decoration: none;
}

.nav-links a {
    text-decoration: none;
    margin: 0 20px;
}

nav p,
.nav-links a {
    color: var(--beige-font);
    font-weight: bolder;
}

nav input[type="search"] {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.448);
    padding: 4px 8px;
    margin-right: 20px;
}

.nav-search-btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--purple);
    color: var(--beige);
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.nav-search-btn:hover {
    background-color: var(--purple-hover);
    transition: 0.3s;
}


/* Footer */
footer {
    height: 10vh;
    background-color: var(--purple);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 100%;
    align-items: center;
    margin: auto;
}

.footer-container p,
.footer-links a {
    color: var(--beige-font);
}

.footer-links a {
    text-decoration: none;
    margin: 0 5px;
}

/* Home Page - Hero section */

.hero-section {
    height: 80vh;
    background-image: url(../src//assets/background.jpg);
    background-size: cover;
}

.hero-container {
    height: 100%;
    background-color: #f2e8cfc8;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60%;
    color: var(--purple);
}

.main-content h1 {
    font-size: 2rem;
    line-height: 1.5;
}

.main-content p {
    font-size: 1.4rem;
}

.main-buttons a {
    text-decoration: none;
    margin: 0px 10px;
    background-color: var(--purple);
    color: var(--beige);
    padding: 5px 10px;
    border-radius: 5px;
}

.main-buttons a:hover {
    background-color: var(--purple-hover);
    transition: 0.3s;
}

.main-buttons {
    margin: 15px;
}

/* Category Page */

.category-section {
    height: 80vh;
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 5px;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.recipe-card {
    border: 2px solid var(--purple-border);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recipe-img {
    height: 140px
}



.category-btn-container button {
    margin: 5px;
    padding: 5px 10px;
    background-color: var(--purple);
    color: var(--beige-font);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.category-btn-container button:hover {
    background-color: var(--purple-hover);
    transition: 0.3s;
}

/* Media Queries*/

@media only screen and (max-width: 900px) {

    nav,
    select {
        /* width: 90%; */
        font-size: 1.1rem;
    }

    .footer-container {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        font-size: 0.9rem;
    }

    nav input[type="search"] {
        padding: 2px 4px;
    }

    .nav-search-btn {
        padding: 4px 8px;
        margin-right: 10px
    }

    .nav-links a {
        margin: 0 10px;
    }

    .footer-container {
        font-size: 0.8rem;
    }
}




@media only screen and (max-width: 700px) {
    nav {
        font-size: 0.7rem;
    }

    .nav-search-btn {
        padding: 4px 8px;
        font-size: 0.7rem;
        margin-right: 10px
    }

    .nav-links a {
        margin: 0 10px;
    }
}